/vendor
/node_modules
.git
.gitignore
.env
.env.*
!.env.example
database/database.sqlite
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
