APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://pokemon-teams.localhost:8000

SERVER_HOST=pokemon-teams.localhost
SERVER_PORT=8000

VITE_DEV_HOST=pokemon-teams.localhost

SESSION_DRIVER=file

MYSQL_HOST=db-mysql
MYSQL_PORT=3306
MYSQL_DATABASE=pokemon_logs
MYSQL_USERNAME=pokemon_logs
MYSQL_PASSWORD=pokemon_logs

PGSQL_HOST=db-postgres
PGSQL_PORT=5432
PGSQL_DATABASE=pokemon_teams
PGSQL_USERNAME=pokemon_teams
PGSQL_PASSWORD=pokemon_teams

POKEMON_API_URL=https://pokeapi.co/api/v2/pokemon/
POKEMON_TYPES_IMG_URL=https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-viii/legends-arceus/
